@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: linear-gradient(180deg, #339CF0 0%, #004E98 59.37%, #020024 100%);
  background-image: -webkit-linear-gradient(180deg, #339CF0 0%, #004E98 59.37%, #020024 100%);
  background-image: -moz-linear-gradient(270deg, #339CF0 0%, #004E98 59.37%, #020024 100%);
}

@layer components {
  .input-field {
    @apply px-4 py-2 rounded text-black bg-light-gray w-full border-transparent placeholder:text-neutral-700 !font-['Inter'] text-base;
  }
  .textarea {
    @apply px-4 py-2 rounded text-black bg-light-gray w-full border-transparent placeholder:text-neutral-700 !font-['Inter'] text-base h-36 resize-y;
  }
}